* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 20px;
}

#replay,
.lucha {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
}

.btnFight {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    font-family: 'Press Start 2P', cursive;
    border: 1px solid black;
    border-radius: 5px;
    background-color: red;
}

#characters {
    display: flex;
    margin: 10px 50px;
}

h2 {
    margin-left: 50px;
    font-size: 14px;
}

h3,
h4 {
    margin-top: 5px;
    font-size: 12px;
}


h5 {
    font-size: 10px;
    text-align: center;
}

.char {
    width: 20%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

article img {
    border-radius: 5px;
    margin: 10px 0 20px;
}

ul {
    list-style: none;
    font-size: 8px;
    line-height: 1.5;
    margin: 5px;
    text-align: center;
}

img {
    width: 100%;
}

#battle {
    display: flex;
    flex-direction: row;
    justify-content: left
}

.left {
    display: flex;
    width: 35%;
}

#battle article {
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.battle {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.lucha {
    max-height: 50px;
    width: 100%;
}

.results h2 {
    margin: 10px auto;
}

.results h3 {
    display: flex;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}